body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  #chat-box {
    max-width: 99%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  #chat-messages {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
  }

  .message-container {
    clear: both;
    overflow: hidden;
  }

  .sent-message {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    word-wrap: break-word;
    max-width: 70%;
  }

  .admin-message {
    background-color: lightblue;
    color: #333;
    float: right;
  }

  .right-message {
    background-color: lightgreen;
    color: #333;
    float: left;
  }

  .timestamp {
    font-size: 10px;
    color: #999;
    margin-top: 5px;
  }

  .sent-message img {
    max-width: 100px;
    display: block;
    margin-top: 5px;
  }

  .timestamp {
    font-size: 10px;
    color: #999;
    margin-top: 5px;
  }

  #attachment-preview {
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
  }

  .input-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  }

  #chat-messages::-webkit-scrollbar {
    width: 12px;
  }

  #chat-messages::-webkit-scrollbar-thumb {
    background-color: #3caea3;
    border-radius: 10px;
  }

  input {
    width: calc(100% - 150px);
    padding: 10px;
    margin: 5px;
    color: black;
  }

  .attachment-icon {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    width: 20px;
    background: #fff;
  }

  .send-btn {
    background-color: #3caea3;
    border-radius: 4px;
    color: #fff;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 43px;
  }

  .send-btn:hover {
    background-color: #338a7d;
  }

  .sent-message {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    word-wrap: break-word;
    max-width: 70%;
    background-color: lightblue;
    color: #333;
    float: right;
  }

  .sender-message {
    background-color: #2196F3;
    color: #fff;
    float: right;
  }

  .admin-message {
    background-color: lightgreen;
    color: #333;
    float: left;
  }

  .timestamp {
    font-size: 10px;
    color: #999;
    margin-top: 5px;
  }

  .context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .content-header {
    background-color: #3caea3;
    color: #fff;
    padding: 15px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-buttons {
    display: flex;
    align-items: center;
  }

  .header-buttons button {
    background-color: #fff;
    color: #3caea3;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .header-buttons button:hover {
    background-color: #3caea3;
    color: #fff;
  }

  .form-container {
    margin-top: 20px;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
  }

  .form-container input {
    margin-bottom: 10px;
    padding: 8px;
  }

  .form-container button {
    background-color: #3caea3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .form-container button:hover {
    background-color: #338a7d;
  }